#aboutme {
    color: white;
}
#aboutme h2 {
    font-size: 60px;
    position: relative;
    display: inline-block;
    margin: 30px 0;
}
#aboutme h2::after {
    position: absolute;
    content: '';
    background-color: tomato;
    height: 5px;
    width: 100%;
    bottom: -10px;
    left: 0;

}
#aboutme p {
    margin: 50px 0;
    line-height: 60px;
    font-size: 30px;
}